<section id="create">
    <div class="form">
        <h2>Добави рецепта</h2>
        <form class="create-form">
            <input type="text" name="name" id="name" placeholder="заглавие" />
            <input type="text" name="imageUrl" id="recept-image" placeholder="снимка" />
            <textarea id="recept-description" name="nutrients" placeholder="съставки" rows="10"
                cols="50"></textarea>
            <textarea id="fruit-preparation" name="preparation" placeholder="начин на приготвяне" rows="10"
                cols="50"></textarea>
            <button type="submit">Добави</button>
        </form>
    </div>
</section>

