<section id="details">
    <div id="details-wrapper">
        <img id="details-img" src="assets/breakfast_item.jpg" alt="example1" />
        <p id="details-title">САЛАТА</p>
        <div id="info-wrapper">
            <div id="details-description">
                <p class="subtitle">Съставки:</p>
                <p id="details-nutrients">
                    доматите,
                    сол,
                    лимонов сок,
                    зехтин, 
                    пилешко месо
                </p>
                <p class="subtitle">Начин на приготвяне:</p>
                <p id="details-preparation">
                    Зелената салата (1 връзка) се накъсва, а чери доматите (250) се разрязват на четвъртинки.
                    Салатата се овкусява със сол, лимонов сок (1 с.л.) и зехтин (3 с.л.).
                    Към нея се добавят изпеченото на тиган с малко зехтин пилешко месо (330 г)
                </p>
            </div>
            <!--Edit and Delete are only for creator-->
            <div id="action-buttons">
                <a href="" id="edit-btn">Edit</a>
                <a href="" id="delete-btn">Delete</a>
            </div>
        </div>
    </div>
</section>