<main>
    <!-- Home page -->
    <section id="home">
        <h1>Разгледай интересни рецепти и добави любима твоя</h1>
       

        <ul>
            <li><a routerLink="/appetizers">
                <img src="assets/cook_lunch.png" alt="">
                <span>Предястия</span>
            </a>
            </li>
            <li><a routerLink="/main-dishes">
                <img src="assets/cook_dinner.png" alt="">
                <span>Основни ястия</span>
            </a>
            </li>
            <li><a routerLink="/desserts">
                <img src="assets/cook_dessert.png" alt="">
                <span>Десерти</span>
            </a>
            </li>
        </ul>
    </section>
</main>