 

    <div id="wrapper" class="container">
        <div class="profile">
            <img src="/assets/user.avif" alt="user">

            <ng-container id="profile-description">
                    <h3>Профил</h3>
                <div class="subtitle">
                    <p>Потребителско име: </p>
                    <p>{{profileDetails.username}}</p>
                </div>
                <div class="subtitle">
                    <p>Email: </p>
                    <p>{{profileDetails.email}}</p>
                </div>
            </ng-container>
        </div>
    </div>

    