<!-- Login Page (Only for Guest users) -->
<section id="login">
    <div class="form">

        <h2>Вход</h2>
        
        <form class="login-form" #form="ngForm" (ngSubmit)="login(form)">
            <!--email-->
            <input type="text" name="email" id="email" placeholder="email" 
            ngModel 
            #inputEmail="ngModel" 
            email 
            required/>

            <ng-container *ngIf="inputEmail.touched">
                <p class="error" *ngIf="inputEmail.errors?.['required']">Email е задължителен!</p>
                <p class="error" *ngIf="inputEmail.errors?.['email']">Email не е валиден!</p>
            </ng-container>

            <!--password-->
            <input type="password" name="password" id="password" placeholder="password" 
            ngModel 
            #inputPassword="ngModel" 
            required 
            minlength="6"/>

            <ng-container *ngIf="inputPassword.touched">
                <p class="error" *ngIf="inputPassword.errors?.['required']">Паролата е задължителна!</p>
                <p class="error" *ngIf="inputPassword.errors?.['minlength']">Паролата трябва да съдържа повече от 6 символа!</p>
            </ng-container>
            
            <button [disabled]="form.invalid"
            [style]="{ backgroundColor: form.invalid ? 'rgb(226, 224, 222)' : 'rgb(214, 112, 16)'}">
            Влез</button>
            <p class="message">
                Не си регистриран? <a routerLink="/register">Регистрирай се</a>
            </p>
        </form>
    </div>
</section>