@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
body {
  color:rgb(10, 241, 206);
  background: rgb(210, 249, 252);
  margin: auto;
  padding: 0;
  overflow: auto;
  width: 97vw;
  font-family: 'Merienda', cursive;
}